.about_container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 40px;
  border-radius: 20px;
}

.about_description {
  width: 70%;
}

.why_gameplan_container {
  margin: 20px;
  padding: 20px;
}