<div class="about_container">
    <div class="about_description">
        <h1>About</h1>
        <p>GamePlan is your all-in-one platform for managing sports teams more efficiently. Designed for coaches,
            captains,
            and players, it simplifies team communication, scheduling, and event organization. Whether you’re organizing
            weekly practices, scheduling matches, or coordinating with players, GamePlan brings everything under one
            roof.
            Built for flexibility and ease of use, it helps teams stay focused on what really matters—playing the game.
        </p>
    </div>
    <div>
        <h1>500+</h1>
        <p>Active teams</p>
    </div>
</div>
<div class="why_gameplan_container">
    <h3>Simplified Scheduling</h3>
    <p>Create, manage, and share events like practices or games with just a few clicks.</p>
    <h3>Smart Team Management</h3>
    <p>Invite players via email, assign roles, and keep track of attendance effortlessly.</p>
    <h3>Flexible Access</h3>
    <p>Players can join without registering or sign up to actively manage the team.</p>
    <h3>Seamless Communication</h3>
    <p>Stay informed with real-time notifications and RSVP reminders.</p>
    <h3>Built for Competitive Play</h3>
    <p>Search for opponents and reserve fields directly through the app.</p>
</div>