<div class="landing_page">
    <div class="hero_section">
        <app-nav-bar></app-nav-bar>
        <div class="hero_title">
            <h1>Organize.</h1>
            <h1>Play.</h1>
            <h1>Win.</h1>
        </div>
        <div class="hero_subtitle">
            <h5>GamePlan is the ultimate toolkit for coaches, captains, and players to manage their teams, organize
                events, and track performance. Beyond just scheduling practices and matches, GamePlan helps you stay on
                top of player participation, match outcomes, and team progress through detailed stats and insights.
                Whether you're fine-tuning lineups or analyzing attendance trends, GamePlan makes sure your team is
                always one step ahead.</h5>
        </div>
        <app-hero-chart></app-hero-chart>
    </div>
    <landing-about></landing-about>
</div>