/* You can add global styles to this file, and also import other style files */

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    // --primary-color: #2C4326;
    // --secondary-color: #73B535;
    --off-black: #050505;
    --off-white: #F5F5F5;
    --background-light: #F3F3F3;
    // --nav_bar_background: #C9D8E0;
    --primary_btn: #0A100D;
    --primary_btn_hover: #18251F;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h5 {
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/* Apply global styles */
// body {
//   font-family: 'Roboto', sans-serif;
//   background-color: var(--background-color);
//   color: var(--text-color);
//   margin: 0;
//   padding: 0;
// }

// h1, h2, h3, h4, h5, h6 {
//   color: var(--primary-color);
// }

// a {
//   color: var(--primary-color);
//   text-decoration: none;
// }

// a:hover {
//   color: var(--secondary-color);
// }